body{
    margin-top: 0%;
    margin-left: 0%;
    background-color: #66d3fa;
}
#cont2{
    margin: 0 auto;
    padding-top: 5%;
    max-width: 1200px;
    background-color: #2565ae;
    color: #add8e6;
}
#cont2 h1{
    margin-left: 10%;
    font-size: 60px;
}
#book{
    margin-left: 30%;
    background: url("book.jpg");
    background-size: 70%;
    background-repeat:repeat-y;
}
table{
    margin-top: -30px;
    margin-left: 10%;
    padding-top: -20%;
    width: 100%;
}
th{
    text-decoration: underline;
    /* border: 2px solid black;
    border-radius: 10px; */
    padding-top: 5%;
    padding-bottom: 5%;
}
td{
    padding: 3% 9%;
}
table,th,td{
    width: 50%;
    text-align: center;
    font-size: 25px;
    color: black;
}
#b{
    padding-left: 40px;
}