body{
    margin-top: 0%;
    margin-left: 0%;
}
.floater{
    position: fixed;
    float: left;
    height: 6.5%;
    box-shadow: 0 10px 20px -4px black;
}
#left{
    width: 40%;
    background-color: #3e4444;
    color: white;
    text-align: center;
}
#left h1{
    margin-top: 0%;
}
#right{
    margin-left: 40%;
    width: 60%;
    background-color:  #ada397;
}
#right a{
    margin-left: 1%;
    font-size: 30px;
}
#right a:link{
    color: white;
    text-decoration: none;
    padding: 1vw;
    transition: 300ms;
}
#right a:visited{
    color: white;
    text-decoration: none;
}
#right a:hover{
    color: white;
    background-color: #3e4444;
    border-radius: .5em;
}